{% extends 'base.html' %}
{% block title %} Contact {% endblock title %}
{% block body %}
    <div>
        <h1>
            Contact
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur perspiciatis explicabo numquam, architecto accusamus at obcaecati inventore ipsa veritatis error velit expedita eligendi. Sunt quam rerum unde qui! Nisi ut quo mollitia iure aliquam quia magnam dolorum error eius, nesciunt consectetur ex officiis? Commodi rerum quis quasi quisquam natus eveniet.
        </p>
    </div>
{% endblock body %}