{% extends 'base.html' %}
{% block title %} Service {% endblock title %}
{% block body %}
    <div>
        <h1>
            Services
        </h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus officia, fugit odit perferendis at inventore delectus magni, quisquam porro ea qui hic, veniam suscipit fugiat unde illum. Ex, tenetur ut officiis quidem necessitatibus autem modi molestias dolor, harum accusamus omnis? Aliquid error rem maiores facere dolorum laborum nemo magni est?9
        </p>
    </div>
{% endblock body %}